body{
    min-height: auto;
}

.production{
    font-size: 20px;
    margin-bottom: var(--gap_section);
}

.text_bla{
    margin: var(--gap_section) 0;
}

.production>img{
    margin: auto;
    width: 400px;
}
